{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user.nameUser }} {{ user.firstnameUser }}</h1>
    <p><strong>Numéro d'identification :</strong> {{ user.id }}</p>
    <p><strong>Email :</strong> {{ user.emailUser }}</p>
    <p><strong>Date de création :</strong> {{ user.createdAt | date('d/m/Y') }}</p>

    <a href="{{ path('app_users') }}">Retour à la liste</a>
{% endblock %}